$firstcolor : #113f67;
$secondcolor : #226597;
$thirdcolor : #87c0cd;
$lastcolor : #f3f9fb;

#nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.3);
  z-index: 99;
  transition: 0.5s all;
  background-color: white;
}

.nav-showing {
  left: 0;
}

.nav-hidden {
  left: -40%;
}

.nav-mobile {
  width: 40%;
}

.nav-web {
  width: 20%;
}

#navinfo {
  width: 100%;
  height: 40vh;
  border-bottom: black solid 1px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navinfo-mobile {
  display: none;
}

.navinfo-web {
  display: flex;
}

#info-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
  background-image: url("images/Cara-Cortado.png");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}
#info-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: League;
  margin-bottom: 15px;
}
#name {
  font-size: 3rem;
}
#function {
  font-size: 1.5rem;
}
.navbutton {
  position: relative;
  width: 100%;
  height: 10vh;
  border-bottom: black solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;
}
.navbutton:hover {
  background-color: #f9f6f7;
}
.button-icon {
  height: 80%;
}
.button-ico {
  width: 20%;
  height: 80%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.nav-line {
  position: absolute;
  left: 0%;
  bottom: -100%;
  height: 100%;
  width: 5px;
  background-color: #113f67;
  transition: 0.2s all;
}
.navbutton:hover .nav-line {
  bottom: 0%;
}

.button-text {
  font-family: "Oswald", sans-serif;
}

.name-info {
  font-size: 2rem;
  color: $secondcolor;
}

.function-info {
  font-size: 1.5rem;
  color: $thirdcolor;
}

@media screen and (max-width:1250px) {
  .name-info {
    font-size: 2rem;
    color: $secondcolor;
  }
  .function-info {
    font-size: 1.2rem;
    color: $thirdcolor;
  }
}

@media screen and (max-width:950px) {
  .name-info {
    font-size: 1.5rem;
    color: $secondcolor;
  }
  .function-info {
    font-size: 1rem;
    color: $thirdcolor;
  }
}

@media screen and (max-width:750px) {
  #info-photo {
    width: 100px;
    height: 100px;
  }
}