$firstcolor: #113f67;
$secondcolor: #226597;
$thirdcolor: #87c0cd;
$lastcolor: #f3f9fb;

#professional-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#professional-content {
  width: 85%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#professional-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
}

.job-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 3rem;
}

.job-image {
  width: 200px;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.job-name {
  font-size: 2rem;
  color: #7e776f;
}

.job-function {
  font-size: 1.5rem;
}

.job-description {
  padding: 5px;
}

.job-place {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  background-color: $thirdcolor;
  margin: 0 auto;
}

.job-time {
  margin-left: 1rem;
}

.job-separator {
  height: 2rem;
  width: 3px;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: $secondcolor;
}

@media screen and (max-width: 1050px) {
  .job-name {
    font-size: 1.5rem;
  }

  .job-function {
    font-size: 1rem;
  }
}

@media screen and (max-width: 850px) {
  .job-text {
    height: 4rem;
  }

  .job-image {
    width: 150px;
  }

  .job-name {
    font-size: 1.5rem;
  }

  .job-function {
    font-size: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .job-text {
    height: 4rem;
  }

  .job-image {
    width: 100px;
  }

  .job-name {
    font-size: 1.5rem;
  }

  .job-function {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .job-text {
    height: 5rem;
    align-items: center;
  }

  .job-image {
    width: 100px;
  }

  .job-name {
    font-size: 1.2rem;
  }

  .job-function {
    display: none;
  }
}
